.sesion15_textphanconggiangday{

    width: 68.063rem;
    height: 3.75rem;
    padding-left: 0rem;
    padding-top: 1.313rem;

    /* LMS Student / H1 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 3.75rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;

}