.sesion18_boxcauhinh{
    /* Board_Body */
    width: 162rem;
    height: 90rem;
    margin-left: 0rem;
    margin-top: 7rem;

    background: #FFFFFF;
    /* Tab */

    box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
    border-radius: 1.6rem;
}
.sesison18_txtcauhinh{
    /* Cấu hình */
    width: 19.4rem;
    height: 3.5rem;
    margin-left: 6.4rem;
    padding-top: 1rem;

    /* LMS Student / H2 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.sesison18_txttheme{
    /* Theme hiện có */

    width: 20.1rem;
    height: 3.5rem;
    margin-left: 75rem;
    margin-top:-42rem;

    /* LMS Student / H2 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.sesison18_b{
    /* Line 68 */
    width: 180rem;
    height: 0rem;
    margin-left: 70rem;
    margin-top: 0rem;

    /* Grey/6 */

    border: 0.2rem solid #E1E1E1;
    transform: rotate(90deg);
}
.sesison18_buttoncancel{
    /* button */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    width: 16rem;
    height: 5.2rem;
    margin-left: calc(50% - 16rem/2 + 48.4rem);
    margin-top: 17rem;

    /* Grey/5 */

    background: #F2F2F2;
    border-radius: 0.8rem;
}
.sesison18_buttonsave{
    /* button */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    width: 16rem;
    height: 5.2rem;
    margin-left: calc(50% - 16rem/2 + 67.6rem);
    margin-top: -5rem;

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;
}
.sesison18_texthuy{
        /* Button */
    width: 3.6rem;
    height: 2.3rem;
    margin-left: calc(50% - 3.6rem/2);
    margin-top: calc(50% - 2.3rem/2);

    /* LMS Student / Sub-header */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 1rem;
}
.sesison18_textsave{
    /* Button */
    width: 3.6rem;
    height: 2.3rem;
    margin-left: calc(50% - 3.6rem/2);
    margin-top: calc(50% - 2.3rem/2);

    /* LMS Student / Sub-header */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */
    color: #FFFFFF;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 1rem;
}
.sesison18_theme1{
    /* Rectangle 1984 */
    width: 20.1rem;
    height: 11.3rem;
    margin-left: 75rem;
    margin-top: -38rem;

    /* /Blue / 1 */

    background: #ECF7FD;
    border-radius: 0.8rem;
}
.sesison18_texttheme1{
    /* Lorem ipsum dolor sit */
   
    width: 18.6rem;
    height: 2.1rem;
    margin-left: 78rem;
    margin-top: 1rem;

    /* LMS Student / Content */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* /Orange / 7 */

    color: #373839;
}
.sesison18_theme2{
    width: 20.1rem;
    height: 11.3rem;
    margin-left: 103rem;
    margin-top: -16rem;
    
    /* /Blue / 1 */
    
    background: #ECF7FD;
    border-radius: 8px;
}
.sesison18_texttheme2{

    width: 18.6rem;
    height: 2.1rem;
    margin-left: 106rem;
    margin-top: 1rem;
    
    /* LMS Student / Content */
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* /Orange / 7 */
    
    color: #373839;
}
.sesison18_theme3{

    width: 20.1rem;
    height: 11.3rem;
    margin-left: 130.5rem;
    margin-top: -16rem;
    
    /* /Blue / 1 */
    
    background: #ECF7FD;
    border-radius: 0.8rem;
}
.sesison18_texttheme3{
    
    width: 18.6rem;
    height: 2.1rem;
    margin-left: 133.6rem;
    margin-top: 1rem;

    /* LMS Student / Content */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* /Orange / 7 */

    color: #373839;
    }
.sesison18_theme4{

    width: 20.1rem;
    height: 11.3rem;
    margin-left: 75rem;
    margin-top: 3.9rem;
    
    /* /Blue / 1 */
    
    background: #ECF7FD;
    border-radius: 0.8rem;
}
.sesison18_texttheme4{
    
    width: 18.6rem;
    height: 2.1rem;
    margin-left: 78rem;
    margin-top: 1rem;

    /* LMS Student / Content */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* /Orange / 7 */

    color: #373839;
}
.sesison18_theme5{
    width: 20.1rem;
    height: 11.3rem;
    margin-left: 103.0rem;
    margin-top: -16rem;
    
    /* /Blue / 1 */
    
    background: #ECF7FD;
    border-radius: 0.8rem;
}
.sesison18_texttheme5{

   
    width: 18.6rem;
    height: 2.1rem;
    margin-left: 106.0rem;
    margin-top: 1rem;
    
    /* LMS Student / Content */
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* /Orange / 7 */
    
    color: #373839;
        
}
.sesison18_theme6{

    width: 20.1rem;
    height: 11.3rem;
    margin-left: 130.5rem;
    margin-top: -16rem;
    
    /* /Blue / 1 */
    
    background: #ECF7FD;
    border-radius: 0.8rem;
}
.sesison18_texttheme6{
 
    width: 18.6rem;
    height: 2.1rem;
    margin-left: 133.6rem;
    margin-top: 1rem;
    
    /* LMS Student / Content */
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* /Orange / 7 */
    
    color: #373839;    
}
.sesison18_colcauhinh{
    /* Frame 612 */

    width: 61.4rem;
    height: 34.6rem;
    margin-left: 6.4rem;
    margin-top: 2rem;

    /* BG */

    background: #FFFFFF;
    /* /Orange / 5 */

    border: 0.1rem solid #CC5C00;
    box-sizing: border-box;
    border-radius: 0.8rem;    
}
.sesison18_textthemsudung{
    /* Theme đang sử dụng */

    width: 18.9rem;
    height: 2.3rem;
    margin-left: 27.7rem;
    padding-top: 2rem;

    /* LMS Student / Sub-header */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* Grey/3 */

    color: #7C7C7C;    
}
.sesison18_txtcaptcha{
    /* Sample */
    width: 6.4rem;
    height: 2rem;
    padding-left: 5.4rem;
    padding-top: 44rem;

    /* LMS Student / Menu */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 0.2rem;
}
.sesison18_txtngonngu{
    /* Ngôn ngữ: */

    width: 11.4rem;
    height: 2rem;
    margin-left: 5.4rem;
    margin-top: 3rem;

    /* LMS Student / Menu */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;

}
.sesison18_textcheck{
    /* Kích hoạt captcha khi đăng nhập vào hệ thống */

    width: 41.8rem;
    height: 2.1rem;
    margin-left: 1rem;
    margin-top: -2rem;

    /* LMS Student / Content */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* /Orange / 7 */

    color: #373839;
}
.sesison18_checkbox{

    margin-left: 18rem;
    padding-top: 0rem;


}
.sesison18_selectngonngu{
    width: 54.5rem;
    height: 6rem;
    margin-left: 18rem;
    margin-top: -4rem;
    color: #373839;
}
.sesison18_selectngonngu select{
    padding: 0rem;
    width: 47rem;
    height: 3rem;
    border: none;
    border-radius:0.3rem;
    font-size: 1.6rem;
    border: 0.016rem solid #373839;
    -webkit-appearance: button;
    outline: none;
}
.sesison18_selectngonngu::before{
    content: url("/src/assets/svg/downArrowIcon.svg");


    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-top: -0rem;
    margin-left: 44rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border-top: 0.016rem solid #373839;
    border-right: 0.016rem solid #373839;
    border-bottom: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
}
