.reservation-records-header {
  width: 100%;
  height: 15rem;
}
.reservation-records-header-breadcrumb-container {
  width: 100%;
  height: 6rem;
}

.reservation-records-header-breadcrumb {
  /* LMS Student / Sub-header */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.015em;
  /* Inactivated Icon */
  color: #c9c4c0;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.reservation-records-header-breadcrumb .ant-breadcrumb-separator {
  width: 0.957rem;
  height: 1.664rem;
  margin-left: 1rem;
  color: #ff7506;
  font-size: 2rem;
  transform: rotate(-180deg);
}
.reservation-records-header-breadcrumb-reservation {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 6rem;
  letter-spacing: 0.015em;
  color: #373839;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0rem 2.4rem;
}

.reservation-records-header-select {
  height: 8.3rem;
}
.reservation-records-header-button-add {
  height: 8.3rem;
}

.select-year-reservation-records {
  margin-top: 4.2rem;
}
.button-add-reservation-records {
  float: right;
}

/* BODY */
.reservation-records-body-group {
  width: 100%;
  height: 80.9rem;
  box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
  border-radius: 1.6rem;
  background: #ffffff;
  margin-top: 3.4rem;
}

.reservation-records-body-group-header-left {
  height: 6.5rem;
}
.reservation-records-body-group-header-left-name {
  font-family: "Mulish";
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: 0.015em;
  text-align: left;
  color: #373839;
  margin-top: 2.4rem;
  margin-left: 6.4rem;
}

.reservation-records-body-group-header-right {
  height: 6.5rem;
}

.reservation-records-body-group-header-search {
  float: right;
  margin-top: 2.4rem;
  margin-right: 6.4rem;
}

.reservation-records-body-group-table {
  width: 100%;
  height: 60rem;
  display: flex;
  margin-top: 2.4rem;
  justify-content: center;
}
.reservation-records-body-group-table-table {
  width: 92%;
  height: 60rem;
  border: 0.01rem solid #f0f3f6;
  border-radius: 1rem;
}
.reservation-records-body-group-table-table .ant-table-thead > tr > th {
  color: #ffffff;
  text-align: center;
  background: none;
  border-bottom: 10em;
  font-family: "Mulish";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.3rem;
  letter-spacing: 0.015em;
}
.reservation-records-body-group-table-table .ant-table-thead {
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
}

.reservation-records-body-group-table-table
  .ant-table-tbody
  > tr
  .reservation-records-body-group-table-table.ant-table-row:hover
  > td {
  background: #f0f3f6;
}
.reservation-records-body-group-table-table .ant-table-thead > tr > th,
.reservation-records-body-group-table-table .ant-table-tbody > tr > td,
.reservation-records-body-group-table-table .ant-table tfoot > tr > th,
.reservation-records-body-group-table-table .ant-table tfoot > tr > td {
  padding: 1rem;
  overflow-wrap: normal;
  text-align: center;
  width: 20rem;
  height: 4rem;
}
.reservation-records-body-group-table-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0em;
  text-align: center;
  background: none;
}
.reservation-records-body-group-table-table
  table
  > thead
  > tr:first-child
  th:last-child {
  border-top-right-radius: 1rem;
}
.reservation-records-body-group-table-table
  table
  > thead
  > tr:first-child
  th:first-child {
  border-top-left-radius: 1rem;
}

.reservation-records-footer-group-pagination-right {
  width: 100%;
  height: 7rem;
}
.reservation-records-footer-group-pagination-left {
  width: 100%;
  height: 7rem;
}

.reservation-records-footer-group-pagination-txt {
  float: left;
  padding: 5rem 0rem 0rem 6.4rem;
}
.reservation-records-footer-group-pagination-numb {
  float: right;
  padding: 5rem 6.4rem 0rem 0rem;
}
