.sesion15__textphanconggd{
    width: 29rem;
    height: 2.3rem;
    margin-left: calc(50% - 19.1rem/2);
    margin-top: calc(50% - 2.3rem/2);

    /* LMS Student / Sub-header */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1rem;
}
.sesion15__button{
    /* button */
/* Auto Layout */
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 23.8rem;
    height: 5.2rem;
    margin-left: 132rem;
    margin-top: 10rem;

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;
}