.textphancong1{
    /* Phân công giảng dạy */
    position: absolute;
    width: 28rem;
    height: 2.3rem;
    left: 19rem;
    top: 8rem;
    /* LMS Student / Sub-header */
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */
    letter-spacing: 0.015em;
    /* Inactivated Icon */
    color: #C9C4C0;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2.4rem;
}
.textdanhsach1{
    /* Danh sách chủ đề */
    position: absolute;
    width: 50rem;
    height: 6rem;
    left: 46.3rem;
    top: 6rem;

    /* LMS Student / H1 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 2.4rem;
}
.iconright{
    position: absolute;
    align-items: center;
    left: 23.5%;
    right: 99.5%;
    top: 8.1rem;
    bottom: 41.67%;

    /* Orange/4 */

   
}