.primary{
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #0B80EC;
}

.danger{
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ED2025;
}


.Section21__Title{
    height: 50%;
}

.section21 .tab__title{
    display: flex;
}

.section21 .tab__search__right{
    float: right;
}

.section21 .edit__icon{
    fill:#FF7506;
}

.section21 .tab__title__left{
    margin-top: 2.6rem;
    margin-left: 6.4rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.015em;
    color: #373839;
}

.section21 .tab{
    margin-top: 2.4rem;
    background: #FFFFFF;
    box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
    border-radius: 1.6rem;
}

.section21 .switch__tab{
    display: flex;
    margin-top: 3.2rem;
}

.box__btn-group > .box__btn-group__add{
    flex-direction: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 17.6rem;
    height: 5.2rem;
    background: #FF7506;
    border-radius: 0.8rem;
    flex: none;
    flex-grow: 0;
    margin-left: 1.6rem;
    order: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section21 .box__select{
    display: flex;
    float: left;
    margin-top: 0.7rem;
}

.section21 .box__select__year{
    margin: 0 5px;
    width: 13.3rem;
    height: 3.2rem;
}

.section21 .tab table{
    border: 1px solid #F2F2F2;
    border-radius:2rem;
    height: 62rem;
}

.section21 .tab-table{
    margin-left: 6.4rem;
    margin-right: 6.4rem;
}

.section21 .title {
    height: 6rem;
}

.section21 .tittle__breadcrumb__left{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #C9C4C0;
}

.section21 .tittle__breadcrumb__right{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.015em;
    color: #373839;
}

.section21 .switch-list {
    width: 53rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background: #F2F2F2;
    border-radius: 3.2rem;
    position: relative;
}

.section21 .switch-list__tab-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 23.5rem;
    height: 3.6rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    border-radius: 2.4rem;
}

.section21 .switch-list__tab-left a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    opacity: 0.5;
    color: #373839;
}

.section21 .switch-list__tab-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28.3rem;
    height: 3.6rem;
    background: #373839;    
    border-radius: 2.4rem;
    margin-left: 24.1rem;
}

.section21 .switch-list__tab-right a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section21 .box__btn {
    display: flex;
    float:right;
}

.section21 .box__btn > .box__btn-group__add{
    flex-direction: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 17.6rem;
    height: 5.2rem;
    background: #FF7506;
    border-radius: 0.8rem;
    flex: none;
    flex-grow: 0;
    margin-left: 1.6rem;
    order: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section21 .ant-table-cell.ant-table-column-has-sorters{
    background: none;
}

.section21 .ant-table-thead{
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
}

.section21 .ant-table-thead > tr > th{
    background: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section21 .tab__table .ant-table-tbody > tr > td{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
}

.section21 .ant-table-column-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    text-align: center;
    color: #FFFFFF;
}
.section21 .ant-table-thead th.ant-table-column-sort{
    background: none;
}

.section21 .ant-table-column-sorter{
    color: #FFFFFF;
}

.section21 .tab .ant-pagination.ant-table-pagination.ant-table-pagination-right{
    display: none;
}

.section21 .box-sbj-pagtion{
    margin-top: 4rem;
    margin-left: 6.3rem;
    display: flex;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #373839;
}

.section21 .box-sbj-pagtion .ant-input-number {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 4.8rem;
    height: 3.2rem;
    background-color: transparent;
    border: 1px solid #ff7506;
    box-sizing: border-box;
    border-radius: 0.4rem;
}
.section21 .box-sbj-pagtion p{
    margin-top: 0.6rem;
}

.section21 .tab-search-right{
    float: right;
    margin-top: 2.5rem;
    margin-right: 6.4rem;
    margin-bottom: 2.4rem;
    width: 43.8rem;
    height: 4rem;
    border-radius: 2.4rem;
}

.section21 .tab-search-right__input.ant-input {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 43.8rem;
    height: 4rem;
    border-radius: 2.4rem;
    background: #F0F3F6;
}

.section21 .box-sbj-pagin {
    float: right;
    margin-top: 4rem;
    margin-right: 9.6rem;
    margin-bottom: 3.1rem;
}

.section21 .box-sbj-pagin .ant-pagination-item-active a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section21 .box-sbj-pagin .ant-pagination a:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section21 .box-sbj-pagin .ant-pagination-options {
    display: none;
}

.section21 .box-sbj-pagin .ant-pagination li {
    border: none;
}

.section21 .box-sbj-pagin .ant-pagination-prev button {
    border: none;
}

.section21 .box-sbj-pagin .ant-pagination-prev button:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section21 .box-sbj-pagin .ant-pagination-next button {
    border: none;
}

.section21 .box-sbj-pagin .ant-pagination-next button:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section21 .box-sbj-pagin .ant-pagination-jump-prev a:hover {
    color: rgba(0, 0, 0, 0.85);
}

.section21 .pagination{
    display: flex;

}
.section21 .pagination__left{
    display: flex;
    margin-top: 4.1rem;
}

.section21 .tab-table .ant-table-tbody > tr > td:nth-child(4) {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #373839;
}

.section21 .tab-table .ant-table-thead .ant-table-cell:first-child{
    border-top-left-radius: 0.8rem;
}

.section21 .tab-table .ant-table-thead .ant-table-cell:last-child{
    border-top-right-radius: 0.8rem;
}

.form-control-status{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}
.modal-groupuser .form-switch-classroom{
    margin-left: 6.5rem;
}

.modal-groupuser .form-switch-classroom span{
    padding-left: 10px ;
    font-family: Source Sans Pro;
}