.sesion18__boxCH{
    width: 430px;
    height: 120px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 15px;
    /* Gradient */
    
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
    opacity: 0.9;
}
.sesion18__textcauhinh{
    /* Cấu hình */  
    width: 430px;
    height: 35px;
    text-align: center;
    padding-top: 20px;

    /* LMS Student / H2 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}
.sesion18__textch{
    /* Theme, các thông tin khác về cấu hình */
    width: 430px;
    height: 23px;
    margin-top: 0px;
    text-align: center;

    /* LMS Student / Sub-header */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;
}
.sesion18__boxTT{
    width: 430px;
    height: 120px;
    margin-left: 70px;
    margin-top: 0px;
    border-radius: 15px;
    /* Gradient */

    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
    opacity: 0.9;
}
.sesion18__boxND{

    width: 430px;
    height: 120px;
    margin-left: 1000px;
    margin-top: -120px;
    border-radius: 15px;
    /* Gradient */

    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
    opacity: 0.9;
}
.sesion18__boxTL{
    width: 430px;
    height: 120px;
    margin-left: 0px;
    margin-top: 70px;
    border-radius: 15px;
    /* Style */

    background: linear-gradient(98.91deg, #56CCF2 1.13%, #2F80ED 100%);
    opacity: 0.9;
}
.sesion18__boxMH{
    width: 430px;
    height: 121px;
    margin-left: 70px;
    margin-top: 70px;
    border-radius: 15px;
    /* Style */

    background: linear-gradient(98.91deg, #56CCF2 1.13%, #2F80ED 100%);
}
.sesion18__boxDT{
    width: 430px;
    height: 121px;
    margin-left: 100rem;
    margin-top: -120px;
    border-radius: 15px;
    /* Style */

    background: linear-gradient(98.91deg, #56CCF2 1.13%, #2F80ED 100%);
}
.sesion18__elipse{
    content: url("/src/assets/svg/ellipse.svg");
    
}
.sesion18__elipse1{
    content: url("/src/assets/avg/ellipsecauhinh2.svg");
}
.sesion18__elipse2{
    content: url("/src/assets/avg/ellipsecauhinh3.svg");
}
