.sesion18__textcaidathethong{
    /* Cài đặt hệ thống */
    width: 500px;
    height: 60px;
    margin-left: 0px;
    margin-top: 30px;

    /* LMS Student / H1 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}