.sesion16___textbaikiemtra{
    /* Quản lý bài kiểm tra */

    width: 58.8rem;
    height: 6rem;
    margin-left: 0rem;
    margin-top: 0rem;

    /* LMS Student / H1 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.sesion16___colbaikiemtra{
    width: 162rem;
    height: 80rem;
    margin-left: 0rem;
    margin-top: 1.5rem;

    background: #FFFFFF;
    /* Tab */

    box-shadow: 0.4rem 0.4rem 2.5rem 0.4rem rgba(154, 202, 245, 0.25);
    border-radius: 1.6rem;
}
.sesion16___textxemchitiet{
    /* Xem chi tiết bài kiểm tra */

    width: 36.8rem;
    height: 2.8rem;
    margin-left: 6.4rem;
    padding-top: 2.4rem;

    /* LMS Student / sub-head 1 */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 2.8rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;

}
.sesion16___divselect{
    float: left;
    display: flex;
}
.sesion16___selectTT{
 
    margin: auto;
    color: #373839;
}
.sesion16___selectTT select{
    margin-left: 0rem;
    margin-top: -2rem;
    padding: 0rem;
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius:0.5rem;
    font-size: 1.6rem;
    border: 0.016rem solid #373839;
    -webkit-appearance: button;
    outline: none;
}
.sesion16___selectTT::before{
  content: url("/src/assets/svg/downArrowIcon.svg");


    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-top: -0.3rem;
    margin-left: 11rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
}
.sesion16___selectCL{
 
    margin: auto;
    color: #373839;
}
.sesion16___selectCL select{
    margin-left: 3rem;
    margin-top: -2rem;
    padding: 0rem;
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius:0.5rem;
    font-size: 1.6rem;
    border: 0.016rem solid #373839;
    -webkit-appearance: button;
    outline: none;
}
.sesion16___selectCL::before{
  content: url("/src/assets/svg/downArrowIcon.svg");


    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-top: -0.3rem;
    margin-left: 14rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
}
.sesion16___selectCK{
 
    margin: auto;
    color: #373839;
}
.sesion16___selectCK select{
    margin-left: 3rem;
    margin-top: -2rem;
    padding: 0rem;
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius:0.5rem;
    font-size: 1.6rem;
    border: 0.016rem solid #373839;
    -webkit-appearance: button;
    outline: none;
}
.sesion16___selectCK::before{
  content: url("/src/assets/svg/downArrowIcon.svg");


    padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-top: -0.3rem;
    margin-left: 14rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
}

.sesion16___butttonadd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    
    width: 17.6rem;
    height: 5.2rem;
    margin-left: 138rem;
    margin-top: 3.1rem;

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;
}
.sesion16___textadd{
    width: 10rem;
    height: 2.3rem;
    margin-left: calc(50% - 8.8rem/2 + 1.7rem);
    margin-top: calc(50% - 2.3rem/2);
    
    /* LMS Student / Sub-header */
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0rem 1rem;
}
.sesion16___iconplus{
 
    color: #FFFFFF;

    

}
.sesion16___col-search{
    width: 100%;
    height: 9rem;
    margin-top: -5rem;
    float: right;
}
.sesion16___table-headers-search{
    width: 38.8rem;
    height: 4rem;
    border-radius: 2.4rem;
    position: relative;

    padding: 0.4rem 1.1rem;
    color: #c5c5c5;
    font-size: 1.4rem;
    line-height: 1.5715;
    background-color: #f0f3f6;
    background-image: none;
    border: 0.1rem solid #f0f3f6;
    border-radius: 4.2rem;
    transition: all 0.3s;
    display: inline-flex;
    float: right;
    margin-top: 2.4rem;
    margin-right: 6.4rem;
}
.sesion16___table-headers-search input {
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 8.7rem;
    letter-spacing: 0em;
    text-align: left;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0rem;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: #f0f3f6;
    margin: 0em;
    padding: 0.1rem 0.2rem;
}
.sesion16___table-headers-search .ant-input-prefix {
    margin-right: 2rem;
  }
  .sesion16___table-headers-search  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #f0f3f6;
    border-right-width: 0.1rem !important;
    z-index: 1;
  }
  .sesion16___table-headers-search  .ant-input-affix-wrapper:hover {
    border-color: #f0f3f6;
    border-right-width: 0.1rem !important;
}
.sesion16___body-table{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}
.sesion16___body-table table> thead > tr:first-child th:last-child {
    border-top-right-radius: 1rem;

}
.sesion16___body-table table > thead > tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

.sesion16___table{
    width: 95%;
    height: 50rem;
    border: 0.01rem solid #f0f3f6;
    border-radius: 1rem;
}
.sesion16___body-table .ant-table-thead > tr > th {
    color: #ffffff;
    
    background: none;
    border-bottom: 0em;
    font-family: "Mulish";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    text-align: left;

}
.sesion16___body-table .ant-table-thead {
  background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);

}
.sesion16___body-table .ant-table-tbody tr:nth-child(even) {
    background-color: #f0f3f6;

}
.sesion16___body-table .ant-table-thead > tr > th,
.sesion16___body-table .ant-table-tbody > tr > td,
.sesion16___body-table .ant-table tfoot > tr > th,
.sesion16___body-table .ant-table tfoot > tr > td {
    padding: 1rem;
    overflow-wrap: break-word;
    
}
.sesion16___body-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background: #f0f3f6;
    text-align: left;

}
.sesion16___body-table .ant-table-thead > tr > th,
.sesion16___body-table .ant-table-tbody > tr > td,
.sesion16___body-table .ant-table tfoot > tr > th,
.sesion16___body-table .ant-table tfoot > tr > td {
    padding: 1rem;
    overflow-wrap: normal;
    text-align: left;
    padding-left: 4rem;
}
.sesion16___body-table .ant-table-tbody > tr > td {
    border-bottom: 0.1rem solid #f0f0f0;
}
.sesion16___body-table .ant-table-thead > tr > th,
.sesion16___body-table .ant-table-tbody > tr > td,
.sesion16___body-table .ant-table tfoot > tr > th,
.sesion16___body-table .ant-table tfoot > tr > td {
    width: 90rem;
    height: 2rem;
    overflow-wrap: normal;
}
.sesion16___texttungay{
    /* Từ ngày */
    width: 6.2rem;
    height: 2.1rem;
    margin-left: 4.3rem;
    padding-top: 1rem;

    /* LMS Student / Content */

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* /Orange / 7 */

    color: #373839;

}
.sesion16___textdenngay{
  /* Den ngày */
  width: 7.2rem;
  height: 2.1rem;
  margin-left: 2.3rem;
  padding-top: 1rem;

  /* LMS Student / Content */

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 130%;
  /* identical to box height, or 21px */


  /* /Orange / 7 */

  color: #373839
}
.sesion16___col-left {
    width: 100%;
    height: 5rem;
    display: flex;
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #373839;
    margin-top: -14rem;
  }
  
  .sesion16___col-left .ant-input-number {
    width: 4.8rem;
    height: 3.2rem;
    background-color: transparent;
    border: 0.1rem solid #ff7506;
    box-sizing: border-box;
    border-radius: 0.4rem;
    
  }
  .sesion16___col-left-txt-view {
    margin: 0.9rem 2rem 0 6.4rem;
    
   
  }
  .sesion16___col-left-txt-rol {
    margin: 0.6rem 0 0 2rem;
  
  }
  
  .sesion16___footer-col-right {
    width: 100%;
    height: 5rem;
    margin-top: -14rem;
  }
  
  .sesion16___footer-col-right-pagination{
    float: right;
    margin-right: 6.4rem;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-item-active a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFF9F4;
    border-radius: 50%;
    background: #FF7506;
  }
  .sesion16___footer-col-right-pagination .ant-pagination a:hover{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFF9F4;
    border-radius: 50%;
    background: #FF7506;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-options{
    display: none;
  }
  .sesion16___footer-col-right-pagination .ant-pagination li{
    border: none;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-prev button{
    border: none;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-prev button:hover{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFF9F4;
    border-radius: 50%;
    background: #FF7506;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-next button{
    border: none;
  }
  .sesion16___footer-col-right-pagination .ant-pagination-next button:hover{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFF9F4;
    border-radius: 50%;
    background: #FF7506;
  }
.sesion16___footer-col-right-pagination .ant-pagination-jump-prev a:hover{
    color: rgb(0, 0, 0);
}

.sesion16___datepicker{
  margin-left: 0rem;
  margin-top: 0.5rem;
  padding: 0rem;
  width: 14rem;
  height: 3rem;
  border: none;
  border-radius:0.5rem;
  font-size: 1.6rem;
  border: 0.016rem solid #373839;
  -webkit-appearance: button;
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.sesion16___iconcalendar{
  
    padding: 0.2rem 0rem 0.5rem 0rem;
    margin-top: 0.5rem;
    margin-left: 69.5rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
    background: #ffffff;
    border: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
} 
.sesion16___iconcalendar1{
   padding: 0.2rem 0rem 0.5rem 0rem;
    margin-top: 0.5rem;
    margin-left: 93rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 0.5em;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
    background: #ffffff;
    
    border: 0.016rem solid #373839;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
} 

