
.section-9-1.ant-row {
    margin-bottom: 0.1rem;
}

.section-9-1 .section-9-1-title {
    height: 6rem;
    line-height: 6rem;
    letter-spacing: 0.015em;
    display: flex;
    
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
}

.section-9-1 .section-9-1-title>span {
    font-size: 1.8rem;
    /* Inactivated Icon */
    color: #C9C4C0;
}

.section-9-1 .section-9-1-title>i {
    font-size: 3rem;
    color: #FF7506;
    height: 6rem;
    line-height: 6rem;
    padding: 0 1rem;
}

.section-9-1 .section-9-1-title>.title-info-student {
    font-size: 4.8rem;
    /* /Orange / 7 */
    color: #373839;
}

/* switch tab */
.section-9-1 .section-9-1-switch-tab {
    width: 100%;
    height: 5.2rem;
}

/* left-tab */
.section-9-1 .section-9-1-switch-tab-left {
    width: 100%;
    height: auto;
}

.section-9-1 .section-9-1-switch-tab-left>.left-tab-box {
    margin-top: 0.8rem;
    width: 47.1rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    /* Grey/5 */
    background: #F2F2F2;
    border-radius: 3.2rem;

    position: relative;
}

.section-9-1 .section-9-1-switch-tab-left .left-tab-box>.left-tab-box-general-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 4rem 0.7rem;

    width: 22.7rem;
    height: 3.6rem;

    position: absolute;
    left: 0.6rem;
    top: 0.6rem;

    /* /Orange / 7 */
    background: #373839;
    border-radius: 2.4rem;
}

.section-9-1 .section-9-1-switch-tab-left .left-tab-box>.left-tab-box-general-information>a {
    /* LMS Student / Sub-header */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section-9-1 .section-9-1-switch-tab-left .left-tab-box>.left-tab-box-study-process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22.7rem;
    height: 3.6rem;

    margin-left: 22.5rem;
}

.section-9-1 .section-9-1-switch-tab-left .left-tab-box>.left-tab-box-study-process>a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;

    /* identical to box height */
    letter-spacing: 0.015em;

    /* /Orange / 7 */
    color: #373839;
    opacity: 0.5;
}

/* right btn */
.section-9-1 .section-9-1-switch-tab-right-btn {
    width: 100%;
    height: 5.2rem;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box {
    float: right;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-delete {
    width: 5.5rem;
    height: 5.2rem;
    border-right: 0.1rem solid #C9C4C0;
    float: left;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-delete i {
    color: #FF7506;
    font-size: 3.5rem;
    margin-top: 0.7rem;
}

/* btn */
.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-bk-ffffff {
    width: 17.6rem;
    height: 5.2rem;
    line-height: 5.2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #FF7506;
    color: #FF7506;
    text-align: center;

    /* font */
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-bk-ff7506 {
    width: 17.6rem;
    height: 5.2rem;
    line-height: 5.2rem;
    border-radius: 0.8rem;
    border: none;
    color: #FFFFFF;
    background-color: #FF7506;
    text-align: center;

    /* font */
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-excel {
    width: 17.6rem;
    height: 5.2rem;
    margin-left: 2rem;
    display: inline-block;
    float: left;
}

.section-9-1 .section-9-1-switch-tab-right-btn>.right-btn-box>.btn-edit {
    width: 17.6rem;
    height: 5.2rem;
    margin-left: 2rem;
    display: inline-block;
}

/* card */
.section-9-1 .section-9-1-site-card-border-less-wrapper {
    margin-top: 2vh;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}

.section-9-1 .section-9-1-site-card-border-less-wrapper>.ant-card>.ant-card-head {
    background: #CC5C00;
    padding: 0 62px;
    color: #FFFFFF;

    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.section-9-1 .section-9-1-site-card-border-less-wrapper>.ant-card>.ant-card-body {
    padding: 2.4rem 6.2rem;
}

/* avatar */
.section-9-1 .section-9-1-site-card-border-less-wrapper>.ant-col>img {
    width: 23.2rem;
    height: 23.2rem;
}

/* thông tin học viên */
.section-9-1 .ant-col-title {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #CC5C00;
    height: 4rem;
    line-height: 4rem;
}

.section-9-1 .ant-row-text {
    height: 3.7rem;
    line-height: 3.7rem;
}

.section-9-1 .text-left {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #373839;
    opacity: 0.8;
}

.section-9-1 .text-right {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #373839;
    opacity: 0.8;
}

.section-9-1 .text-right-box {
    width: 14.367rem;
    height: 3.7rem;
    border: 0.1rem solid #49C510;
    box-sizing: border-box;
    border-radius: 0.4rem;
    color: #3CC13B;
}

.section-9-1 .text-right-box .bx-wifi-0 {
    font-size: 2.5rem;
}

/* Thông tin liên lạc */
.section-9-1 .communications-text-left {
    width: 12.625rem;
    height: 3.7rem;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #373839;
    opacity: 0.8;
}

.section-9-1 .communications-text-right {
    width: auto;
    height: 3.7rem;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #373839;
    opacity: 0.8;
}

.section-9-1 .site-card-border-less-wrapper-mt-0 {
    margin-top: 0 !important;
}