.section-8 .box__title h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 3rem;
    letter-spacing: 0.015em;
    color: #373839;
}


/*  */

.section-8 .box__btn {
    width: 100%;
    height: 5.2rem;
}


/*  */

.section-8 .box__sbj {
    width: 100%;
    height: 80.2rem;
    margin-top: 2.4rem;
    border-radius: 1.6rem;
    background: #ffffff;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}


/* button left */

.section-8 .box__btn-block {
    margin-top: 1.5rem;
    display: inline-flex;
}

.section-8 .box__btn-block_select {
    width: 13.6rem;
    height: 3.2rem;
    background: #ffffff;
    border-radius: 4px;
}

.section-8 .box__btn-class {
    display: inline-flex;
    margin-left: 1.6rem;
}

.section-8 .box__btn-class_select {
    width: 13.6rem;
    height: 3.2rem;
    background: #ffffff;
    border-radius: 4px;
}

.section-8 .box__btn-block_select .ant-select-selection-search,
.section-8 .box__btn-class_select .ant-select-selection-search {
    right: 3rem;
    border-right: 1px solid #373839;
}

.section-8 .box__btn .ant-select .ant-select-selector {
    border: none;
    color: black;
    border: 1px solid #373839;
    border-radius: 4px;
}

.section-8 .box__btn .box__btn-blk .ant-select-selection-placeholder {
    color: #373839;
}

.section-8 .ant-select-arrow span {
    color: #ff7506;
}


/* button center */

.section-8 .box__btn-tag {
    margin-top: 1rem;
}

.section-8 .box__btn-tag button {
    border: none;
    width: 20.5rem;
    height: 3.9rem;
    border-radius: 24px;
    margin-left: 1.6rem;
}

.section-8 .box__btn-tag .box__btn-tag-none {
    background: #F2F2F2;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #373839;
    opacity: 0.5;
}

.section-8 .box__btn-tag .box__btn-tag-active {
    background: #373839;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}


/* button right */

.section-8 .box__btn-button {
    display: flex;
    justify-content: flex-end;
}

.section-8 .box__btn-button_del {
    background: none;
    border: none;
    cursor: pointer;
}

.section-8 .box__btn-button_del-icon {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
    padding-right: 1rem;
    border-right: 1px solid #c9c4c0;
}

.section-8 .box__btn-button_export {
    cursor: pointer;
    width: 16rem;
    height: 5.2rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    border: 1px solid #ff7506;
    color: #ff7506;
    background-color: transparent;
    margin: 0rem 1rem;
    border-radius: 8px;
}

.section-8 .box__btn-button_cre {
    cursor: pointer;
    width: 17.6rem;
    height: 5.2rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    border: none;
    color: #fff;
    background: #ff7506;
    margin: 0.2rem 0.8rem 0 1rem;
    border-radius: 8px;
}

.section-8 .box__btn-button_cre-icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 23px;
    margin: 0 0.5rem 0 0.5rem;
}


/*  */

.section-8 .box__sbj p {
    margin: 2.6rem 0 0 6.4rem;
    float: left;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.015em;
    color: #373839;
}

.section-8 .box__sbj-search__input {
    float: right;
    margin: 2.6rem 6.5rem 0 0;
    width: 43.8rem;
    height: 4rem;
    font-size: 1.6rem;
    padding-left: 4rem;
    background: #f0f3f6;
    border-radius: 2.4rem;
    border: none;
}


/*  */

.section-8 .box__sbj .table-list {
    margin: 0rem 6.4rem 0 6.4rem;
    height: auto;
}

.section-8 .box__sbj .ant-table {
    margin-top: 2.5rem;
}

.section-8 .ant-table-thead .ant-table-cell {
    background: #ff7506;
}

.section-8 .table-list .ant-table-thead>tr>th {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #ffffff;
    border: none;
    padding: 0.85rem;
}

.section-8 .ant-table-thead .ant-table-cell {
    background: none;
}

.section-8 .ant-table-thead {
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
}

.section-8 .table-list .ant-table-thead .ant-table-cell:first-child {
    border-top-left-radius: 0.8rem;
}

.section-8 .table-list .ant-table-thead .ant-table-cell:last-child {
    border-top-right-radius: 0.8rem;
}

.section-8 .table-list .ant-table-tbody .ant-table-cell {
    color: #373839;
}

.section-8 .table-list .ant-table-tbody .ant-table-cell a {
    color: #373839;
}

.section-8 .table-list .ant-table-tbody {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
    color: orange;
}

.section-8 .table-list .ant-table-tbody tr:nth-child(odd) {
    background: #ffffff;
    border: 1px solid #f2f2f2;
}

.section-8 .table-list .ant-table-tbody tr:nth-child(even) {
    background: #f0f3f6;
    border: 1px solid #f2f2f2;
}

.section-8 .table-list .ant-table-cell:nth-child(9) {
    width: 20rem;
}

.section-8 .table-list .ant-table-cell:nth-child(1) {
    padding: 0 2rem;
}

.section-8 .table-list .btnView,
.section-8 .table-list .btnUpdate,
.section-8 .table-list .btnTrash {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.section-8 .table-list .btnView,
.section-8 .table-list .btnUpdate {
    margin-right: 2rem;
}

.section-8 .table-list .ant-table-tbody .ant-table-cell .ant-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    width: 16rem;
    height: 3.7rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    font-family: Source Sans Pro;
    top: calc(50% - 21px / 2);
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
}
.section-8 .fix-0 {
    font-size: 2.5rem;
    margin-left: -1rem;
    margin-top: -0.75rem
}
/* .section-8 .table-list .status-btn {
    border: none;
    border: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 14.367rem;
    height: 3.7rem;
    border: 1px solid #49c510;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.4rem;

    font-family: Source Sans Pro;
    top: calc(50% - 21px / 2);
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3cc13b;
} */


/*  */

.section-8 .box__sbj-pagtion {
    margin-top: 10rem;
}

.section-8 .box__sbj-pagtion-txt p {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #373839;
}

.section-8 .box__sbj-pagtion .ant-input-number {
    right: 19.9rem;
    bottom: -2rem;
    width: 4.8rem;
    height: 3.2rem;
    background-color: transparent;
    border: 1px solid #ff7506;
    box-sizing: border-box;
    border-radius: 4px;
}

.section-8 .box__sbj-pagin {
    float: right;
    margin-top: -1rem;
    margin-right: 6.4rem;
}

.section-8 .box__sbj-pagin .ant-pagination-item-active a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section-8 .box__sbj-pagin .ant-pagination a:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section-8 .box__sbj-pagin .ant-pagination-options {
    display: none;
}

.section-8 .box__sbj-pagin .ant-pagination li {
    border: none;
}

.section-8 .box__sbj-pagin .ant-pagination-prev button {
    border: none;
}

.section-8 .box__sbj-pagin .ant-pagination-prev button:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section-8 .box__sbj-pagin .ant-pagination-next button {
    border: none;
}

.section-8 .box__sbj-pagin .ant-pagination-next button:hover {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff9f4;
    border-radius: 50%;
    background: #ff7506;
}

.section-8 .box__sbj-pagin .ant-pagination-jump-prev a:hover {
    color: rgba(0, 0, 0, 0.85);
}


/* custom dropdown upload*/

.section8-dropdown-cre {
    background-color: transparent;
    box-shadow: none;
}

.section8-dropdown-cre .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    color: transparent;
    background-color: transparent;
    padding: 1rem 0px;
}

.section8-dropdown-cre .section8-dropdown-cre-btn {
    cursor: pointer;
    width: 17.6rem;
    height: 5.2rem;
    background: #FFFFFF;
    border: 1px solid #FF7506;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FF7506;
}


/* custom dropdown update*/

.section8-dropdown-update {
    margin-top: 1rem;
    margin-left: -0.5rem;
    width: 20rem;
    height: 28rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 8px;
    padding: 8px 16px;
    overflow: hidden;
}

.section8-dropdown-update .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    color: transparent;
    margin-top: 1.1rem;
    background-color: transparent;
    padding: 0;
}

.section8-dropdown-update .section8-dropdown-update-btn {
    border: none;
    cursor: pointer;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #CC5C00;
    background-color: #fff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #373839;
}

.section8-dropdown-update .border-btn {
    border-bottom: none !important;
}


/*  */


/* modal update class table */

.section8-update-change .ant-modal-content {
    width: 88.4rem;
    height: auto;
    background: #FFFFFF;
    border-radius: 1.6rem;
    padding: 2.4rem 6.4rem;
    margin-left: -20%;
}

.section8-update-change h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;
    text-align: center;
    color: #373839;
}

.section8-update-change .text-update-left {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0.015em;
    margin-top: 2rem;
    color: #373839;
}

.section8-update-change .text-update-right {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    margin-top: 1.8rem;
    color: #373839;
}

.section8-update-change .text-update-right .text-update-right-input-class {
    width: 10rem;
    height: 3.2rem;
    margin-left: 1.1rem;
    background: #C9C4C0;
    opacity: 0.5;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
}

.section8-update-change .text-update-right .ant-picker {
    width: 14.4rem;
    height: 3.2rem;
    padding: 0px 4px 0px 8px;
    background: #FFFFFF;
    border: 1px solid #373839;
    border-radius: 4px;
}

.section8-update-change .text-update-right .ant-picker-input {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
}


/* .section8-update-change .text-update-right .ant-picker-input input {
    border-right: 1px solid black;
} */

.section8-update-change .text-update-right .ant-picker-input .ant-picker-suffix span {
    width: 2.4rem;
    color: #FF7506;
}

.section8-update-change .text-update-right .text-update-right-class .ant-select-selector {
    padding: 0.8rem 1.6rem;
    width: 19.6rem;
    height: 4rem;
    background: #F2F2F2;
    border-radius: 0.8rem;
    border: none;
}

.section8-update-change .text-update-right .ant-select .ant-select-selection-item {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.8rem;
    opacity: 0.5;
}

.section8-update-change textarea {
    background: #F2F2F2;
    height: 13.6rem !important;
    border-radius: 0.4rem;
    border: none;
}

.section8-update-change .text-update-right p {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #373839;
    opacity: 0.5;
}

.section8-update-change .text-update-right-upload1 {
    width: 36.6rem;
    height: 3.2rem;
    background: #efefef;
    border-radius: 0.4rem;
    border: none;
}

.section8-update-change .text-update-right-upload1 img {
    float: left;
    margin-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #c9c4c0;
}

.section8-update-change .text-update-right-upload2 {
    float: right;
    width: 17.1rem;
    height: 3.2rem;
    background: #ffd8b8;
    border: 1px solid #ff7506;
}

.section8-update-change .update-change-btn {
    text-align: center;
    margin-top: 3rem;
}

.section8-update-change .update-change-btncancel {
    cursor: pointer;
    height: 5.2rem;
    width: 16rem;
    border: none;
    border-radius: 8px;
    background: #f2f2f2;
    border-radius: 8px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #373839;
}

.section8-update-change .update-change-btnacp {
    cursor: pointer;
    height: 5.2rem;
    margin-left: 3.2rem;
    width: 16rem;
    border: none;
    border-radius: 8px;
    background: #C9C4C0;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #ffffff;
}


/* modal update school table */

.section8-update-change .text-update-right .text-update-right-inputform-school {
    width: 56.1rem;
    height: 4rem;
    border-radius: 8px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 20px;
    background: #F2F2F2;
    border: none;
}

.section8-update-change .text-update-right .text-update-right-inputadd-school {
    width: 56.1rem;
    height: 4rem;
    background: #F2F2F2;
    border-radius: 8px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 20px;
    border: none;
}


/* modal update discount table */

.section8-update-change .text-update-right .text-update-right-discount .ant-select-selector {
    padding: 0.8rem 1.6rem;
    width: 56.1rem;
    height: 4rem;
    background: #F2F2F2;
    border-radius: 8px;
    border: none;
}
