.section-9-1-1 .title {
    height: 6rem;
    line-height: 6rem;
    letter-spacing: 0.015em;
    display: flex;

    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
}

.section-9-1-1 .title span {
    font-size: 1.8rem;
    /* Inactivated Icon */
    color: #C9C4C0;
}

.section-9-1-1 .title i {
    font-size: 3rem;
    color: #FF7506;
    height: 6rem;
    line-height: 6rem;
    padding: 0 1rem;
}

.section-9-1-1 .title .title-edit-info-student {
    font-size: 4.8rem;
    /* /Orange / 7 */
    color: #373839;
}

/* switch tab */
.section-9-1-1 .switch-tab {
    width: 100%;
    height: 5.2rem;
}

/* left-tab */
.section-9-1-1 .left-tab {
    width: 100%;
    height: auto;
}

.section-9-1-1 .left-tab-box {
    margin-top: 0.8rem;
    width: 47.1rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    /* Grey/5 */
    background: #F2F2F2;
    border-radius: 3.2rem;

    position: relative;
}

.section-9-1-1 .left-tab-box-general-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 4rem 0.7rem;

    width: 22.7rem;
    height: 3.6rem;

    position: absolute;
    left: 0.6rem;
    top: 0.6rem;

    /* /Orange / 7 */
    background: #373839;
    border-radius: 2.4rem;
}

.section-9-1-1 .left-tab-box-general-information a {
    /* LMS Student / Sub-header */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;
}

.section-9-1-1 .left-tab-box-study-process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22.7rem;
    height: 3.6rem;

    margin-left: 22.5rem;
}

.section-9-1-1 .left-tab-box-study-process a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;

    /* identical to box height */
    letter-spacing: 0.015em;

    /* /Orange / 7 */
    color: #373839;

    opacity: 0.5;
}

/* right btn */
.section-9-1-1 .right-btn {
    width: 100%;
    height: 5.2rem;
}

.section-9-1-1 .right-btn-box {
    float: right;
}

.section-9-1-1 .right-btn .btn-delete {
    width: 5.5rem;
    height: 5.2rem;
    border-right: 0.1rem solid #C9C4C0;
    float: left;
}

.section-9-1-1 .right-btn .btn-delete i {
    color: #FF7506;
    font-size: 3.5rem;
    margin-top: 0.7rem;
}

/* btn */
.section-9-1-1 .btn-bk-cancel {
    width: 17.6rem;
    height: 5.2rem;
    line-height: 5.2rem;
    background: #F2F2F2;
    border-radius: 0.8rem;
    text-align: center;

    /* font */
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
}

.section-9-1-1 .btn-bk-ff7506 {
    width: 17.6rem;
    height: 5.2rem;
    line-height: 5.2rem;
    border-radius: 0.8rem;
    border: none;
    color: #FFFFFF;
    background-color: #FF7506;
    text-align: center;

    /* font */
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
}

.section-9-1-1 .right-btn .btn-excel {
    width: 17.6rem;
    height: 5.2rem;
    margin-left: 2rem;
    display: inline-block;
    float: left;
}

.section-9-1-1 .right-btn .btn-edit {
    width: 17.6rem;
    height: 5.2rem;
    margin-left: 2rem;
    display: inline-block;
}

/* card */
.section-9-1-1 .site-card-border-less-wrapper {
    margin-top: 2vh;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}

.section-9-1-1 .ant-card .ant-card-head {
    background: #CC5C00;
    padding: 0 62px;
    color: #FFFFFF;

    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.section-9-1-1 .ant-card .ant-card-body {
    padding: 2.4rem 6.2rem;
}

/* avatar */
.section-9-1-1 .ant-col img {
    width: 23.2rem;
    height: 23.2rem;
}

/* thông tin học viên */
.section-9-1-1 .ant-col-title {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: #CC5C00;
    height: 4rem;
    line-height: 4rem;
}

.section-9-1-1 .ant-row-text {
    height: 4rem;
    line-height: 4rem;
    margin: 1.6rem 0;
}

.section-9-1-1 .text-left {
    max-width: 12.8rem;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #373839;
    opacity: 0.8;
}

.section-9-1-1 .text-right {
    max-width: 36rem;
    min-width: 36rem;
}

.section-9-1-1 .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgba(55, 56, 57, 0.5);
    border-radius: 8px;
    height: 40px;
    align-items: center;
}

.section-9-1-1 .ant-input {
    color: #292B2E;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.015em;

    border: 1px solid rgba(55, 56, 57, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
}

.section-9-1-1 .text-right .checked-184 {
    max-width: 18.4rem;
}

.section-9-1-1 .text-right .ant-checkbox-wrapper {
    margin-left: 2.1rem;
}

/* select btn */
.section-9-1-1 .text-right .anticon {
    color: #FF7506;
}

/* date */
.section-9-1-1 .ant-picker {
    min-width: 36rem;
    border: 1px solid rgba(55, 56, 57, 0.5);
    border-radius: 8px;
    height: 40px;
    align-items: center;
}

.section-9-1-1 .ant-picker-suffix {
    color: #FF7506;
}

/* Thông tin gia đình */
.section-9-1-1 .site-card-border-less-wrapper-mt-0 {
    margin-top: 0 !important;
}

.section-9-1-1 .w-104 {
    max-width: 10.4rem;
    min-width: 10.4rem;
}

.section-9-1-1 .w-231 {
    max-width: 23.1rem;
    min-width: 23.1rem;
}

.section-9-1-1 .pl-130 {
    padding-left: 13rem;
}