.sesion15_button{
 /* button */
/* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    margin-top: 10rem;
 
    width: 17.6rem;
    height: 5.2rem;
   
 
   

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 1.6rem;

    }
.sesion15_icon{

    padding-left: 0%;
 
    padding-top: 5%;


  
}
.sesion15_icon1{

    align-items: center;
    padding-left: 0%;
    padding-top: 0%;


}
.sesion15_text{

    width: 10rem;
    height: 2.3rem;
    margin-left: calc(50% - 8.8rem/2 + 1.7rem);
    margin-top: calc(50% - 2.3rem/2);
    
    /* LMS Student / Sub-header */
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0rem 1rem;
}

.sesion15_b{
    width: 5.2rem;
    height: 0rem;
    padding-left: 2rem;
    margin-top: 2.5rem;

    /* Inactivated Icon */

    border: 0.1rem solid #C9C4C0;
    transform: rotate(90deg);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
.sesion15_divhang{
   margin-left: 83%;
   padding-top: 0rem;
    display: flex;
}
.sesion15_Button-modal .ant-modal-close {
    display: none;
  }
  
  .sesion15_Button-modal .ant-modal-header {
    text-align: center;
    border-bottom: none;
    padding: 0;
  }
  
  .sesion15_Button-modal .ant-modal-header .ant-modal-title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.5rem;
    letter-spacing: 0.015em;
    color: #373839;
  }
  
  .sesion15_Button-modal .ant-modal-body {
    padding: 0;
  }
  
  .sesion15_Button-modall .ant-modal-footer {
    border-top: none;
    text-align: center;
    padding: 0;
  }
  
  .sesion15_Button-modal .ant-modal-footer .ant-btn {
    width: 160px;
    height: 52px;
    background: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 8px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #373839;
  }
  
  .sesion15_Button-modal .ant-modal-footer .ant-btn.ant-btn-primary {
    background: #ff7506;
    border-color: #ff7506;
    color: #fff;
    margin-left: 3.1rem;
  }
  
  .sesion15_Button-modal-del.ant-modal {
    width: 435px !important;
  }
  
  .sesion15_Button-modal-del .ant-modal-content {
    border-radius: 8px;
    padding: 2.6rem 3.8rem 4rem;
  }
  
  .sesion15_Button-modal-del .ant-modal-header {
    margin-bottom: 1.6rem;
  }
  
  .sesion15_Button-modal-del .sesion15_Button-modal-del-desc {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
    margin-bottom: 3.2rem;
  }