.sesion15_button{
 /* button */
/* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;

    margin-top: 10rem;
 
    width: 17.6rem;
    height: 5.2rem;
   
 
   

    /* Orange/4 */

    background: #FF7506;
    border-radius: 0.8rem;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 1.6rem;

    }
.sesion15_icon{

    padding-left: 0%;
 
    padding-top: 5%;


  
}
.sesion15_icon1{

    align-items: center;
    padding-left: 0%;
    padding-top: 0%;


}
.sesion15_text{

    width: 10rem;
    height: 2.3rem;
    margin-left: calc(50% - 8.8rem/2 + 1.7rem);
    margin-top: calc(50% - 2.3rem/2);
    
    /* LMS Student / Sub-header */
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0rem 1rem;
}

.sesion15_b{
    width: 5.2rem;
    height: 0rem;
    padding-left: 2rem;
    margin-top: 2.5rem;

    /* Inactivated Icon */

    border: 0.1rem solid #C9C4C0;
    transform: rotate(90deg);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
.sesion15_divhang{
   margin-left: 83%;
   padding-top: 0rem;
    display: flex;
}