.Section20__Title{
    height: 50%;
}

.section20 .tab__title{
    display: flex;
}

.section20 .tab-search-right{
    float: right;
}

.section20 .tab__title__left{
    margin-top: 2.6rem;
    margin-left: 6.4rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #373839;
}

.section20 .tab{
    margin-top: 2.4rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 16px;
}

.section20 .tab table{
    border: 1px solid #F2F2F2;
    border-radius:2rem;
    height: 62rem;
}

.section20 .tab__table{
    margin-left: 6.4rem;
    margin-right: 6.4rem;
}

.section20 .title {
    height: 6rem;
}

.section20 .tittle__breadcrumb__left{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #C9C4C0;
}

.section20 .tittle__breadcrumb__right{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.015em;
    color: #373839;
}

.section20 .switch-group {
    width: 47.1rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background: #F2F2F2;
    border-radius: 3.2rem;
    position: relative;
}

.section20 .switch-group__tab-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 4rem 0.7rem;
    width: 24.6rem;
    height: 3.6rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    background: #373839;
    border-radius: 2.4rem;
}

.section20 .switch-group__tab-left a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section20 .switch-group__tab-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 27.6rem;
    height: 3.6rem;
    margin-left: 24.7rem;
}

.section20 .switch-group__tab-right a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    color: #373839;
    opacity: 0.5;
}

.section20 .switch__tab{
    display: flex;
    margin-top: 3.2rem;
}

.section20 .box__select{
    display: flex;
    float: left;
    margin-top: 0.7rem;
}

.section20 .box__select__year{
    margin: 0 5px;
    width: 13.3rem;
    height: 3.2rem;
}

.section20 .ant-table-cell.ant-table-column-has-sorters{
    background: none;
}
.section20 .ant-table-thead{
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
}

.section20 .ant-table-thead > tr > th{
    background: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.section20 .ant-table-tbody > tr > td{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: #373839;
}

.section20 .ant-table-column-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    text-align: center;
    color: #FFFFFF;
}

.section20 .ant-table-thead th.ant-table-column-sort{
    background: none;
}

.section20 .ant-table-column-sorter{
    color: #FFFFFF;
}

/* .tab-table .ant-table-tbody > tr > td:nth-child(2){
    text-align: center;
} */

.section20 .tab .ant-pagination.ant-table-pagination.ant-table-pagination-right{
    display: none;
}

.section20 .box__select__year.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 100%;
}

.modal-groupuser .form-control{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    justify-content: space-between;
}

.modal-groupuser .form-switch{
    margin-left: 19.5rem;
}

.modal-groupuser .form-switch label{
    margin-left: 0.8rem;
}

.modal-groupuser .obligatory{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.015em;
    color: #ED2025;
}

.modal-groupuser .ant-modal-body input{
    width: 56.1rem;
    height: 4rem;
    padding: 8 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F2F2F2;    
    border-radius: 8px;
    border-color: #f2f2f2;
}

.modal-groupuser .ant-modal-header{
    padding-bottom: 2.4rem;
    padding-top: 0;
    border: none;
}

.modal-groupuser .ant-switch-handle{
    top:0.7rem
}

.modal-groupuser .ant-modal-body label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #373839;
    padding-right: 5rem;
}

.modal-groupuser .ant-modal-body{
    padding: 0 6.4rem;
}

.modal-groupuser .ant-modal-content{
    border-radius: 1.6rem;
    padding-top:2.4rem;
    width: 88.4rem;
    height: 100%;
    display: inline-block;
}

.modal-group-textarea{
    width: 56.1rem;
    border-radius: 8px;
    background: #F2F2F2;
    border-color: #F2F2F2;
}

.modal-groupuser .ant-modal-title{
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.015em;
    color: #373839;
}

.btn-group__modal{
    justify-content: center;
    display: flex;
    height: 5.2rem;
    text-align: center;
    margin-top: 4.8rem;
    margin-bottom: 4rem;
}

.modal__btn-group__cancel.ant-btn,
.modal__btn-group__save.ant-btn{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    border-color: #F2F2F2;
}
.modal__btn-group__cancel.ant-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 16rem;
    height: 5.2rem;
    background: #F2F2F2;
    border-radius: 0.8rem;
    color: #373839;
}

.modal-groupuser .checkbox{
  float: left;
}
.modal-groupuser .form-checkbox{
    display: flex;
    margin-bottom: 2rem;
}

.checkbox > label{
    font-family: Source Sans Pro;
    font-style: normal !important;
    font-weight: normal !important;

}

.modal-groupuser .ant-checkbox{
    background: #FFFFFF;
    border: 2px solid #0B80EC;
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-groupuser .form-label{
    min-width: 19.5rem;
}

.modal-groupuser .form-option{
    border-top: 1px solid #C9C4C0;
    margin-top: 2.4rem;
    padding-top: 2.4rem;
}
.modal__btn-group__save.ant-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 3.2rem;
    width: 16rem;
    height: 5.2rem;
    background: #FF7506;
    color: #FFFFFF;
    border-radius: 0.8rem;
}

.modal-groupuser .ant-switch{
    width: 6.4rem;
    height: 3.3rem;
}

.ant-modal-body .form-switch label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #373839;
}

.modal-groupuser.ant-modal {
    width: 88.4rem !important;
}

.modal-groupuser.ant-checkbox-checked.ant-checkbox-inner{
    border: none;
}

.modal-groupuser .ant-checkbox-inner{
    border: none;
}

.title .ant-breadcrumb-separator{
    font-size: 3.1rem;
    font-weight: 700;
    color: #FF7506;
    margin: 0;
    padding: 0 3rem;
    transform: rotate(-180deg);
}

.title .ant-breadcrumb{
    display: flex;
    align-items: center;
}