.Section20__Title{
    height: 50%;
}

.tab__title{
    display: flex;
}

.tab-search-right{
    float: right;
}

.tab__title__left{
    margin-top: 2.6rem;
    margin-left: 6.4rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #373839;
}

.tab{
    margin-top: 2.4rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 16px;
}

.tab table{
    border: 1px solid #F2F2F2;
    border-radius:2rem;
    height: 62rem;
}

.tab__table{
    margin-left: 6.4rem;
    margin-right: 6.4rem;
}

.title {
    height: 6rem;
}

.tittle__breadcrumb__left{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #C9C4C0;
}

.tittle__breadcrumb__right{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.015em;
    color: #373839;
}

.switch-group {
    width: 47.1rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background: #F2F2F2;
    border-radius: 3.2rem;
    position: relative;
}

.switch-group__tab-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 4rem 0.7rem;
    width: 24.6rem;
    height: 3.6rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    background: #373839;
    border-radius: 2.4rem;
}

.switch-group__tab-left a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.switch-group__tab-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 27.6rem;
    height: 3.6rem;
    margin-left: 24.7rem;
}

.switch-group__tab-right a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    color: #373839;
    opacity: 0.5;
}

.switch__tab{
    display: flex;
    margin-top: 3.2rem;
}

.box__btn-group{
    float:right;
    display: flex;
}


.box__select{
    display: flex;
    float: left;
    margin-top: 0.7rem;
}
.box__select__year{
    width: 133px;
    height: 32px;
}

.ant-table-cell.ant-table-column-has-sorters{
    background: none;
}
.ant-table-thead{
    background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
}

.ant-table-thead > tr > th{
    background: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.ant-table-tbody > tr > td{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #373839;
}

.ant-table-column-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #FFFFFF;
}

.ant-table-thead th.ant-table-column-sort{
    background: none;
}

.ant-table-column-sorter{
    color: #FFFFFF;
}

.tab .ant-pagination.ant-table-pagination.ant-table-pagination-right{
    display: none;
}





