.App {
    font-size: 1.6rem;
}

@import '~antd/dist/antd.css';

main {
    width: calc(100% - 28.1rem);
    margin-left: 21.5rem;
    height: auto;
}

.content {
    width: 100%;
    min-height: 90rem;
}